#Mouse Acceleration
alias disableaccel='defaults write .GlobalPreferences com.apple.mouse.scalin    g -1'
alias enableaccel='defaults write .GlobalPreferences com.apple.mouse.scaling     1'


#Docker
alias dc='docker-compose'
alias docker-stop-all='docker stop $(docker ps -a -q)'
alias docker-rm-all='docker rm $(docker ps -a -q)'
alias docker-rmi-all='docker images -q | xargs docker rmi -f'

#Random
# alias fuck='sudo $(history -p !!)'

#Git
alias g='git'
alias gst='git status'
alias gs='git status'
alias gc='git commit --verbose'
alias gcane='git commit --amend --no-edit --verbose'
alias ga='git add'
alias gco='git checkout'
alias gp='git push'
alias gppr='git push -u origin; pr'
alias gpull='git pull'
alias gr='git rebase'
alias gb='git branch'
alias gbr='git branch --sort=committerdate'
alias gl='git log'
alias gf='git fetch'
alias gd='git diff'
alias gdc='git diff --cached'

# git-find-branch
function gfb {
  branches=$(git for-each-ref --count=30 \
               --sort=-committerdate \
               --format="%(refname:short)" \
               refs/heads/)
  branch=$(echo "$branches" | fzf-tmux -d $((2 + $(wc -l <<< "$branches"))))
  git checkout "$branch"
}

# VIM
alias vi='nvim'
alias vim='nvim'
alias cleanswp='find ~/.local/share/nvim/swap -type f -name "\.*sw[klmnop]" -delete'

alias kc='kubectl'
alias kg='kubectl -n io-gmon'

# should live in some macros file
pr() {
    repo=$(git remote get-url origin|sed "s/:/\\//; s/\\.git//; s/git@/https:\\/\\//")
    branch=$(git rev-parse --abbrev-ref HEAD)
    open "${repo}/compare/${branch}?expand=1"
}

alias prdesc='gh pr view $(git branch --show-current) --json title,url,additions,deletions,headRepository --template ":pr: [{{.headRepository.name}}] {{.title}} (+{{.additions}} -{{.deletions}})
:pr-arrow: {{.url}}" | pbcopy'

watchgotests() {
	nodemon -e .go --exec "clear && richgo test ./$1/... && echo 'Currently testing: $1'"
}

# go test
alias gotesthere='find . -iname "*.go" -print | entr -c richgo test -v ./...'

alias cursor="open -a Cursor"

alias ais='gh copilot suggest -t shell'
