# This is Git's per-user configuration file.
[core]
	excludesfile = /Users/constantijnschepens/.gitignore_global
# Delta
	pager = delta
# Please adapt and uncomment the following lines:
	user = Constantijn Schepens
	email = constantijnschepens@gmail.com
	editor = nvim
[push]
	default = current
[user]
	name = Constantijn Schepens
	email = constantijnschepens@gmail.com
[merge]
	conflictstyle = diff3

# Custom Stuffs
[alias]
  flog = log --pretty=medium
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	shorty = status --short --branch
  # check with upstream to see you have latest commits before pushing over upstream
	please = push --force-with-lease
	commit = commit --verbose
	branches = branch --sort=committerdate
[format]
  # Sets the default pretty used by git log
  pretty = format:%C(yellow)%h %C(green)%ai %an%C(yellow) | %C()%s%C(auto)%d
[color]
	ui = auto
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "git@github.com:monzo/"]
	insteadOf = "https://github.com/monzo/"
[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	line-numbers = true
	syntax-theme = Dracula
	navigate = true
	# side-by-side = true

[interactive]
	diffFilter = delta --color-only
[scalar]
	repo = /Users/constantijn/src/github.com/monzo/wearedev
[maintenance]
	repo = /Users/constantijn/src/github.com/monzo/wearedev
[rebase]
	updateRefs = true
