# This is Git's per-user configuration file.
[core]
	excludesfile = /Users/constantijnschepens/.gitignore_global
# Please adapt and uncomment the following lines:
	user = Constantijn Schepens
	email = constantijnschepens@gmail.com
[push]
	default = current
[user]
	name = Constantijn Schepens
	email = constantijnschepens@gmail.com
[merge]
	conflictstyle = diff3

# Custom Stuffs
[alias]
  flog = log --pretty=medium
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
[format]
  # Sets the default pretty used by git log
  pretty = format:%C(yellow)%h %C(green)%ai %an%C(yellow) | %C()%s%C(auto)%d
[init]
  templatedir = ~/scripts/git_template
[color]
	ui = auto
